<%= render "components/navbar" %>

<div class="main-container align-center mx-auto">
  <div class="flex justify-center mb-4 mt-20">
    <p class="text-4xl font-extrabold dark:text-black">Nouvel artiste</p>
  </div>

  <div class="form-container bg-white">
    <%= render 'form', type: :new %>
  </div>
</div>
