<%= render 'components/navbar' %>

<div class="flex-auto w-32 m-8 mx-auto">
  <h1 class="text-4xl font-extrabold dark:text-black">Auditions</h1>
</div>

<%= link_to "+ Ajouter une audition", new_audition_path, class:"rounded-full bg-terracotta-600 px-3 py-1.5 text-sm font-semibold text-black shadow-sm hover:bg-terracotta-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-terracotta-600" %>
