<%= render 'components/navbar' %>

<div class="p-8 bg-gray-100">
   <div class="flex-auto w-32 m-8 mx-auto">
     <h1 class="text-4xl font-extrabold dark:text-black">Auditions</h1>
   </div>

  <% if @auditions.present? %>
    <ul>
      <% @auditions.each do |audition| %>
        <li class="mb-4">
          
          <h1 class="text-xl font-semibold mb-2"><%= link_to audition.name, audition_path(audition), class: 'text-blue-500 hover:text-blue-700' %></h1>
          <!-- Ajoutez d'autres détails de l'audition selon vos besoins -->
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-gray-500">Aucune audition disponible.</p>
  <% end %>

  <%= link_to "Retour à la page d'accueil", root_path, class: 'text-blue-500 hover:text-blue-700 block mb-4' %>
  <%= link_to "+ Ajouter une audition", new_audition_path, class:"rounded-full bg-terracotta-600 px-3 py-1.5 text-sm font-semibold text-black shadow-sm hover:bg-terracotta-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-terracotta-600" %>  
</div>

