<%= render "components/navbar" %>

<div class="main-container">
  <div class="flex justify-center m-2">
    <h1 class="text-4xl font-extrabold dark:text-black">Nouvelle Audition</h1>
  </div>

  <%= render 'form' %>
</div>
