<%= render "components/navbar" %>
<%# Index entier%>
<div class="main-container">
  <div class="flex justify-center mb-4 mt-20">
    <p class="text-4xl font-extrabold dark:text-black">Artistes</p>
  </div>

    <%= link_to "+ Ajouter un artiste", new_artist_path, class: "btn bg-brown" %>

  <div class="filter-cards">

    <%# Index des cards %>
    <div class="user-cards "   >
      <% @users.each do |user| %>
        <%= render "components/card", user: user %>
      <% end %>
    </div>
  </div>
</div>
<%= render "components/footer"%>
