<%= render "components/navbar" %>
<%# Index entier%>
<div>
  <h1>Artistes</h1>
  <button type="button" class="rounded-full bg-terracotta-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-terracotta-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-terracotta-600">Button text</button>
  <div class="filter-cards">
    <%# Filtres %>
    <div class="filters">
      <h2 >Filtres</h2>
      <ul>
        <li>
          age
        </li>
        <li>
          taille
        </li>
      </ul>
    </div>
    <%# Index des cards %>
    <div class="user-cards">
      <% @users.each do |user| %>
        <%= render "components/card" %>
      <% end %>
    </div>
  </div>
</div>
<%= render "components/footer"%>
