<%= render "components/navbar" %>
<%# Index entier%>
<div class="main-container">
  <div class="flex-auto w-32 m-8 mx-auto">
    <h1 class="text-4xl font-extrabold dark:text-black">Artistes</h1>
  </div>

    <%= link_to"+ Ajouter un artiste", new_audition_path, class: "btn bg-brown" %>

  <div class="filter-cards">

    <%# Index des cards %>
    <div class="user-cards"  >
      <% @users.each do |user| %>
        <%= render "components/card", user: user %>
      <% end %>
    </div>
  </div>
</div>
<%= render "components/footer"%>
