<div data-controller="carousel" class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="swiper-item">
        Slide 1
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-item">
        Slide 2
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-item">
        Slide 3
      </div>
    </div>
  </div>
</div>
