.btn {
  @apply inline-flex text-sm font-semibold text-center px-4 py-0 rounded no-underline items-center justify-between shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2;

  height: 40px;
  line-height: 40px;
  transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;

  &:hover,
  &:focus {
    @apply cursor-pointer;
  }
}

.btn-primary {
  @apply bg-blue-500 text-white focus:ring-blue-600;

  &:hover,
  &:focus {
    @apply bg-blue-600 text-white;
  }

  &.outline {
    @apply bg-transparent outline-1 text-blue-600 shadow-none;

    &:hover,
    &:focus {
      @apply bg-blue-500 text-white;
    }
  }
}
